In [6]:
#pip install mysql-connector-python

In [7]:
import pandas as pd
import numpy as np
import mysql.connector as Myconn

In [8]:
mydb = Myconn.connect(
    host="localhost",
    user="root",
    password="Koratj@y54321",
    database="pythonWithMysql"
    )

Create Database

In [9]:
db_cursor = mydb.cursor()
db_cursor.execute('create table Emp(Roll int,name varchar(20))')

print("tabel Created!!")

ProgrammingError: 1050 (42S01): Table 'emp' already exists

In [10]:
#db_cursor.execute("insert into emp(Roll,name) values(%s,%s)",(1,"jay"))
db_cursor.execute("insert into emp(Roll,name) values (1,'jay')")
mydb.commit()
db_cursor.rowcount

1

In [11]:
db_insert = "insert into emp(Roll,name) values (%s,%s)"
db_list = [(3,'sahil'),('4','xyz'),(5,'abc'),('6','meet')]

db_cursor.executemany(db_insert,db_list)

mydb.commit()
db_cursor.rowcount
db_cursor.rowcount

4

In [12]:
db_cursor.execute('select * from emp')

db_select = db_cursor.fetchall()
db_select

[(2, 'jay'),
 (3, 'sahil'),
 (4, 'xyz'),
 (5, 'abc'),
 (1, 'jay'),
 (3, 'sahil'),
 (4, 'xyz'),
 (5, 'abc'),
 (6, 'meet')]

In [17]:
update_query = 'update emp set Roll=1 where name="ankit"'
set_value = ('2','ankit')

db_cursor.execute(update_query)

mydb.commit()

In [20]:
db_cursor=mydb.cursor()
db_deletedata="delete from emp where name=%s"
db_value=("jay",)
db_cursor.execute(db_deletedata,db_value)
mydb.commit()

In [14]:
db_cursor.execute('select * from emp')

db_select = db_cursor.fetchall()
db_select

[(2, 'jay'),
 (3, 'sahil'),
 (4, 'xyz'),
 (5, 'abc'),
 (1, 'jay'),
 (3, 'sahil'),
 (4, 'xyz'),
 (5, 'abc'),
 (6, 'meet')]